* {
  box-sizing: border-box;
}

/* Style the body */
body {
  font-family: 'Lato', sans-serif;
  margin: 0;
}

/* Header/logo and social network */

header {
    position: relative;
    width: auto;
    height: 83px;
    background-color:black;
    padding: 20px 10px 112px 80px;
    margin-bottom:20px;
}

.logo {
  width: 230px;
  height: 90px;
  float: left;
}

.redes{
  width: 50px;
  height: 50px;
  float: right;
  
 }


/* logo */
@media screen and (max-width: 992px){
  .logo {
    width: 130px;
    height: 30px;
  }

.redes{
  width: 20px;
  height: 20px;
  
 }
}


/* social network */

.slice {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap:20px;
  margin-bottom:20px;
}

.slice img{
  width: 100%;
  height: auto;
}

@supports(object-fit: cover){
  .slice img{
    height: 100%;
    object-fit: cover;
    object-position: center center;
  }
}


/* Sticky navbar - toggles between relative and fixed, depending on the scroll position. It is positioned relative until a given offset position is met in the viewport - then it "sticks" in place (like position:fixed). The sticky value is not supported in IE or Edge 15 and earlier versions. However, for these versions the navbar will inherit default position */
.navbar {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-column-gap:10px;
  overflow: hidden;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  margin-bottom: 30px;
}

/* Style the navigation bar links */
.navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
  background :gray;
}


/* Right-aligned link */
.navbar a.right {
  float: right;
}

/* Change color on hover */
.navbar a:hover {
  background-color: #ddd;
  color: black;
}

/* Active/current link */
.navbar a.active {
  background-color: #666;
  color: white;
}


/* Main column */
.main {   
  -ms-flex: 70%; /* IE10 */
  flex: 70%;
  background-color: white;
  padding: 20px;
  margin-left: 200px;
  margin-right: 200px;
  margin-bottom: 24px;
}
/* Fake image, just for this example */
.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}


/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  .navbar a {
    float: none;
    width: 100%;
  }

}

.button {
  background-color: #555555;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}


/* Footer */
.site-footer
{
  background-color:#26272b;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
